@import "../utils/_variables";

* {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
  position: absolute;
	z-index: 1;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  border: 1px solid black;
}
